{% extends 'sistema/html/baseUsuario.html' %}

    {% block content %}
			

						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->
								<div class="row">
									<div class="col-ms-10 col-md-offset-2 col-lg-8">
										<div id="calendar"></div>
										
									</div>

								</div>
							</div>
								<!-- PAGE CONTENT ENDS -->
						</div>	
						
	{% endblock content %}
	
	
	
		