{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title></title>
<style type="text/css">
<!--
body {
	background-image: url("/media/{{evento.imagen}}");
	background-repeat: no-repeat;
}
.Estilo2 {
	color: #FF0000;
	font-size: 18px;
	font-weight: bold;
	font-family: Georgia, "Times New Roman", Times, serif;
}
.Estilo4 {font-size: 14}
.Estilo5 {
	font-size: 20px;
	color: #000033;
	font-weight: bold;
}
.Estilo7 {font-size: 20px; font-weight: bold; }
-->
</style></head>

<body>
<table width="589" height="412" border="0">
  <tr>
    <td width="579"><table width="100%" border="0">
      <tr>
        <td>&nbsp;</td>
        <td><div align="center">
          <p class="Estilo7">&nbsp;</p>
          <p class="Estilo7">Universidad Tecnica de Machala </p>
        </div></td>
        <td>&nbsp;</td>
      </tr>
    </table>
      <table width="100%" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td height="10">&nbsp;</td>
        <td><p align="center" class="Estilo5">Unidad Academica de Ingieneria Civil</p></td>
        <td>&nbsp;</td>
      </tr>
    </table>
    <table width="100%" border="0">
        <tr>
          <td height="61">&nbsp;</td>
          <td><div align="center">
            <p class="Estilo4">otorga el <span class="Estilo2">CERTIFICADO</span></p>
            </div></td>
          <td>&nbsp;</td>
        </tr>
      </table>
      <table width="100%" border="0">
        <tr>
          <td width="9%">&nbsp;</td>
          <td width="80%"><div align="justify">Al Sr(a) <strong>{{estudiante}}</strong>, con CI: {{cedula}} por haber participado en el evento denominado {{evento.nombre}} que tuvo una duracion de {{evento.horas}} horas en la fecha {{evento.inicio}} al {{evento.fin}} </div></td>
          <td width="11%">&nbsp;</td>
        </tr>
      </table>
      <table width="86%" border="0">
        <tr>
          <td width="12%">&nbsp;</td>
		  {% for x in firmas %}	
				<td width="40%"><img src="/media/{{x}}"  width="123" height="60" /></td>
		  {% endfor %}		
        </tr>
      </table>
      <p>&nbsp;</p>
    <p>&nbsp;</p></td>
  </tr>
</table>
</body>

</html>
