{% extends 'sistema/html/base.html' %}

    {% block content %}
								<!-- PAGE CONTENT BEGINS -->
								<form method="POST" class="form-horizontal" role="form">{%csrf_token %}
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Ciudad </label>
										<div class="col-sm-9">
											{{ form.nombre }}
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Provincia </label>
										<div class="col-sm-9">
											{{ form.provincia }}
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Pais </label>
										<div class="col-sm-9">
											{{ form.pais }}
										</div>
									</div>

									
									<div class="clearfix form-actions">
										<div class="col-md-offset-4 col-md-8">
											<button class="btn btn-info" type="submit">
												<i class="ace-icon fa fa-check bigger-110"></i>
												Aceptar
											</button>

											
										</div>
									</div>

									<div class="hr hr-24"></div>
								</form>
	{% endblock content %}