{% extends 'sistema/html/base.html' %}

    {% block content %}
								<!-- PAGE CONTENT BEGINS -->

								<form method="POST" class="form-horizontal" enctype="multipart/form-data" role="form">{%csrf_token %}
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Día</label>

										<div class="col-xs-9 col-sm-4">
											<div class="row">
															<div class="col-xs-8 col-sm-11">
																<div class="input-group">
																	{{ form.dia }}
																	<span class="input-group-addon">
																		<i class="fa fa-calendar bigger-110"></i>
																	</span>
																</div>
															</div>
														</div>
											
											
										</div>

									</div>

									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Hora Inicio: </label>
										<div class="col-sm-9">
											{{ form.horaInicio }}
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Hora Fin: </label>
										<div class="col-sm-9">
											{{ form.horaFin }}
										</div>
									</div>									
									
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Evento: </label>
											<div class="col-sm-8">
											<div class="row">
												<div class="col-xs-10 col-sm-6">
													{{ form.evento }}
												</div>
											</div>
										</div>
									</div>

									{% if form.errors  %}
										<div class="alert alert-warning">
											<strong>Error!</strong> La hora debe estar en el formato hh:mm.
										</div>
									{% endif %}
											
											
									<div class="clearfix form-actions">
										<div class="col-md-offset-3 col-md-9">
											<button class="btn btn-info" type="submit">
												<i class="ace-icon fa fa-check bigger-110"></i>
												Aceptar
											</button>
											
											
										</div>
									</div>

									<div class="hr hr-24"></div>
							</form>
														
								
								<!-- PAGE CONTENT ENDS -->
		{% endblock content %}