{% extends 'sistema/html/base.html' %}

    {% block content %}

								<!-- PAGE CONTENT BEGINS -->

							<form method="POST" class="form-horizontal" enctype="multipart/form-data" role="form">{%csrf_token %}
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Codigo </label>

										<div class="col-sm-9">
											{{ form.codigo }}
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Nombre del Evento </label>

										<div class="col-sm-9">
											{{ form.nombre }}
										</div>
									</div>
									
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Fecha Inicio</label>

										<div class="col-xs-9 col-sm-4">
										<div class="row">
															<div class="col-xs-8 col-sm-11">
																<div class="input-group">
																	{{ form.inicio }}
																	<span class="input-group-addon">
																		<i class="fa fa-calendar bigger-110"></i>
																	</span>
																</div>
															</div>
														</div>
											
											
										</div>

									</div>
									
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Duracion en dias </label>

										<div class="col-sm-9">
											{{ form.duracion }}
										</div>
									</div>
									
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Duracion en horas </label>

										<div class="col-sm-9">
											{{ form.horas }}
										</div>
									</div>
								
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Lugar</label>

										<div class="col-sm-9">
											{{ form.lugar }}
										</div>
									</div>
									
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Descripcion</label>

										<div class="col-sm-9">
											{{ form.descripcion }}
										</div>
									</div>
									
									
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Precio UTMACH</label>

										<div class="col-sm-9">
											{{ form.precio_estudiante }}
										</div>
									</div>
									
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Precio Externo</label>

										<div class="col-sm-9">
											{{ form.precio_externo }}
										</div>
									</div>
									
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Precio Profesional</label>

										<div class="col-sm-9">
											{{ form.precio_profesional }}
										</div>
									</div>
									
									
																				
									
									<div class="clearfix form-actions">
										<div class="col-md-offset-4 col-md-8">
											<button class="btn btn-info" type="submit">
												<i class="ace-icon fa fa-check bigger-110"></i>
												Aceptar
											</button>

											
										</div>
									</div>

									<div class="hr hr-24"></div>
								</form>
														
								
	{% endblock content %}
	
	