{% extends 'sistema/html/base.html' %}

    {% block content %}
								<!-- PAGE CONTENT BEGINS -->

								<form method="POST" class="form-horizontal" enctype="multipart/form-data" role="form">{%csrf_token %}
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Cedula: </label>
										<div class="col-sm-9">
											{{ form.cedula }}
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Nombre: </label>
										<div class="col-sm-9">
											{{ form.nombres }}
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Apellido: </label>
										<div class="col-sm-9">
											{{ form.apellidos }}
										</div>
									</div>
									
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Cargo: </label>
										<div class="col-sm-9">
											{{ form.cargo }}
										</div>
									</div>
									
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Titulo: </label>
										<div class="col-sm-9">
											{{ form.titulo }}
										</div>
									</div>
									
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Nivel: </label>
										<div class="col-sm-9">
											{{ form.nivel }}
										</div>
									</div>
									
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Imagen: </label>
											<div class="col-sm-8">
											<div class="row">
												<div class="col-xs-10 col-sm-6">
													{{ form.firma }}
												</div>
											</div>
										</div>
									</div>
														
				
											
									<div class="clearfix form-actions">
										<div class="col-md-offset-4 col-md-8">
											<button class="btn btn-info" type="submit">
												<i class="ace-icon fa fa-check bigger-110"></i>
												Aceptar
											</button>

											
										</div>
									</div>

									<div class="hr hr-24"></div>
							</form>
														
			{% endblock content %}							