{% extends 'sistema/html/base.html' %}

    {% block content %}
								<!-- PAGE CONTENT BEGINS -->

								<form method="POST" class="form-horizontal" enctype="multipart/form-data" role="form">{%csrf_token %}
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Cedula: </label>
										<div class="col-sm-9">
											{{ form.cedula }}
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Nombre: </label>
										<div class="col-sm-9">
											{{ form.nombres }}
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Apellido: </label>
										<div class="col-sm-9">
											{{ form.apellidos }}
										</div>
									</div>
									
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Correo: </label>
										<div class="col-sm-9">
											{{ form.correo }}
										</div>
									</div>
									
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Direccion: </label>
										<div class="col-sm-9">

											{{ form.direccion }}
										</div>
									</div>
									
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Genero: </label>
											<div class="col-sm-9">
												{{ form.genero }}
											</div>
									</div>
											
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right">Profesional:</label>
											<div class="col-sm-9">
												{{ form.profesional }}

												<span class="lbl"></span>
											</div>

									</div>
												
														
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Institución: </label>
										<div class="col-sm-8">
											<div class="row">
												<div class="col-xs-10 col-sm-6">
													{{ form.institucion }}
												</div>
											</div>
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Ciudad: </label>
											<div class="col-sm-8">
											<div class="row">
												<div class="col-xs-10 col-sm-6">
													{{ form.ciudad }}
												</div>
											</div>
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Imagen: </label>
											<div class="col-sm-8">
											<div class="row">
												<div class="col-xs-10 col-sm-6">
													{{ form.imagen }}
												</div>
											</div>
										</div>
									</div>
											
											
									<div class="clearfix form-actions">
										<div class="col-md-offset-3 col-md-9">
											<button class="btn btn-info" type="submit">
												<i class="ace-icon fa fa-check bigger-110"></i>
												Aceptar
											</button>
											
											&nbsp; &nbsp; &nbsp;
											<button class="btn" type="reset">
												<i class="ace-icon fa fa-undo bigger-110"></i>
												Limpiar
											</button>
										</div>
									</div>

									<div class="hr hr-24"></div>
							</form>
														
								
								<!-- PAGE CONTENT ENDS -->
		{% endblock content %}