{% extends 'sistema/html/base.html' %}

    {% block content %}

								<!-- PAGE CONTENT BEGINS -->							
								{% if errorhoy  %}
									<div class="alert alert-warning">
										<strong>Error!</strong> La fecha debe ser futura.
									</div>
								{% endif %}

								{% if agregado  %}
									<div class="alert alert-success">
										<strong>Exito!</strong> Se creó el evento.
									</div>
								{% endif %}

								{% if errorfechas  %}
									<div class="alert alert-warning">
										<strong>Error!</strong> La fecha de inicio debe ser antes de la final.
									</div>
								{% endif %}

								<div >
									<form method="POST" class="form-horizontal" enctype="multipart/form-data" role="form">{%csrf_token %}
										<div class="form-group">
											<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Codigo </label>

											<div class="col-sm-9">
												{{ form.codigo }}
											</div>
										</div>

										<div class="form-group">
											<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Nombre del Evento </label>

											<div class="col-sm-9">
												{{ form.nombre }}
											</div>
										</div>
										
										<div class="form-group">
											<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Fecha</label>

											<div class="col-xs-9 col-sm-4">
												<div class="row">
																<div class="col-xs-8 col-sm-11">
																	<div class="input-group">
																		{{ form.inicio }}
																		<span class="input-group-addon">
																			<i class="fa fa-calendar bigger-110"></i>
																		</span>
																	</div>
																</div>
															</div>
												
												
											</div>

										</div>
										
										<div class="form-group">
											<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Duracion en dias </label>

											<div class="col-sm-9">
												{{ form.duracion }}
											</div>
										</div>
										
										<div class="form-group">
											<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Duracion en horas </label>

											<div class="col-sm-9">
												{{ form.horas }}
											</div>
										</div>
									
										<div class="form-group">
											<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Lugar</label>

											<div class="col-sm-9">
												{{ form.lugar }}
											</div>
										</div>
										
										<div class="form-group">
											<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Descripcion</label>

											<div class="col-sm-9">
												{{ form.descripcion }}
											</div>
										</div>
										
										<div class="form-group">
											<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Precio UTMACH</label>

											<div class="col-sm-9">
												{{ form.precio_estudiante }}
											</div>
										</div>
										
										<div class="form-group">
											<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Precio Externo</label>

											<div class="col-sm-9">
												{{ form.precio_externo }}
											</div>
										</div>
										
										<div class="form-group">
											<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Precio Profesional</label>

											<div class="col-sm-9">
												{{ form.precio_profesional }}
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Fondo para Certificado: </label>
												<div class="col-sm-8">
												<div class="row">
													<div class="col-xs-10 col-sm-6">
														{{ form.imagen }}
													</div>
												</div>
											</div>
										</div>
										
										
																					
										
										<div class="clearfix form-actions">
											<div class="col-md-offset-3 col-md-9">
												<button class="btn btn-info" type="submit">
													<i class="ace-icon fa fa-check bigger-110"></i>
													Aceptar
												</button>
										
												&nbsp; &nbsp; &nbsp;
												<button class="btn" type="reset">
													<i class="ace-icon fa fa-undo bigger-110"></i>
													Limpiar
												</button>
											</div>
										</div>

										<div class="hr hr-24"></div>
									</form>
								</div >					
								
	{% endblock content %}
	
	