{% extends 'sistema/html/baseUsuario.html' %}

    {% block content %}
									<!-- PAGE CONTENT BEGINS -->
									{% for evento in listaeventos %}
								<div class="row">
								

									<div class="col-ms-10 col-md-offset-2 col-lg-8 pricing-box">
										<div class="widget-box widget-color-blue">
											<div class="widget-header">
												<h5 class="widget-title bigger lighter">{{evento.nombre}}</h5>
											</div>

											<div class="widget-body">
												<div class="widget-main">
													<ul class="list-unstyled spaced2">
														<li>
															<i class="ace-icon fa  fa-calendar  green"></i>
															<strong>Fecha de Inicio:</strong> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp{{evento.inicio|date:"l, d-F-Y"}}
														</li>

														<li>
															<i class="ace-icon fa  fa-calendar  green"></i>
															<strong>Fecha de Culminacion:</strong> &nbsp &nbsp &nbsp &nbsp  {{evento.fin|date:"l, d-F-Y"}}
														</li>

														<li>
															<i class="ace-icon fa fa-briefcase green"></i>
															<strong>Numero de Horas:</strong> &nbsp &nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp &nbsp  {{evento.horas}} Horas
														</li>

														<li>
															<i class="ace-icon fa fa-users green"></i>
															<strong>Lugar:</strong>  &nbsp &nbsp &nbsp &nbsp &nbsp  &nbsp &nbsp  &nbsp &nbsp &nbsp &nbsp  &nbsp &nbsp   &nbsp &nbsp &nbsp &nbsp  &nbsp &nbsp  {{evento.lugar}}
														</li>
													</ul>

													<hr />
													<div >
													<strong>Precios:</strong><br>
													{% ifequal tipo "propio"  %}
														&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
														&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
														Estudiante: &nbsp &nbsp &nbsp <strong> ${{evento.precio_estudiante}}</strong> 
													{% endifequal %}
													{% ifequal tipo "profesional"  %}
														&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp 
														&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
														Profesional:&nbsp &nbsp &nbsp <strong> ${{evento.precio_externo}}</strong>
													{% endifequal %}
													{% ifequal tipo "extranjero"  %}
														&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp 
														&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
														Externo:&nbsp &nbsp &nbsp <strong> ${{evento.precio_profesional}}</strong>
													{% endifequal %}
									
													 <br>
								<br>
													</div>
												</div>
												<form action="" method="post" >
												{%csrf_token%}
													<div class="widget-header">
													<button class="btn btn-info" type="submit" name ={{evento.codigo}}>
														<i class="ace-icon fa fa-check bigger-110"></i>
														Asistir
													</button>
													
													</div>
													
												</form>	
												<center>
												<button class="btn btn-info" onClick="location.href='{% url 'verTopico' codigo=evento.codigo %}' " type="submit">
														<i class="ace-icon fa fa-pencil-square-o "></i>
														Ver Informacion
													</button>
													</center>
												
												
												
												
												
											</div>
										</div>
									</div>

									
								</div>
								<br>
				{% endfor %}
	{% endblock content %}