{% extends 'sistema/html/base.html' %}

    {% block content %}
								<!-- PAGE CONTENT BEGINS -->
								<div class="container">
									<div class="well well-sm">
										<h5><strong>Evento:</strong> &nbsp &nbsp &nbsp {{ evento.nombre }} </h5>
										<h5><strong>Inicio:</strong> &nbsp &nbsp &nbsp &nbsp  {{ evento.inicio|date:"d M Y" }} </h5>
										<h5><strong>Fin:</strong> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp {{ evento.fin|date:"d M Y" }} </h5>
									</div>
								</div>
							
								{% if errorhora  %}
									<div class="alert alert-warning">
										<strong>Error!</strong> El horario ya está ocupado.
									</div>
								{% endif %}

								{% if errorhoras  %}
									<div class="alert alert-warning">
										<strong>Error!</strong> La hora de inicio debe ser anterior a la hora de fin.
									</div>
								{% endif %}

								{% if agregado  %}
									<div class="alert alert-success">
										<strong>Exito!</strong> Se agregó el horario.
									</div>
								{% endif %}

								{% if errorfecha  %}
									<div class="alert alert-warning">
										<strong>Error!</strong> La fecha está fuera del evento.
									</div>
								{% endif %}
								<div >
									<form method="POST" class="form-horizontal" enctype="multipart/form-data" role="form">{%csrf_token %}
										<div class="form-group">
											<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Día</label>

											<div class="col-xs-9 col-sm-4">
												<div class="row">
																<div class="col-xs-8 col-sm-11">
																	<div class="input-group">
																		{{ form.dia }}
																		<span class="input-group-addon">
																			<i class="fa fa-calendar bigger-110"></i>
																		</span>
																	</div>
																</div>
															</div>
												
												
											</div>

										</div>

										<div class="form-group">
											<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Hora Inicio: </label>
											<div class="col-sm-9">
												{{ form.horaInicio }}
											</div>
										</div>

										<div class="form-group">
											<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Hora Fin: </label>
											<div class="col-sm-9">
												{{ form.horaFin }}
											</div>
										</div>

										<div class="form-group">
											<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> N° Horas: </label>
											<div class="col-sm-9">
												{{ form.horas }}
											</div>
										</div>	

										{% if form.errors  %}
											<div class="alert alert-warning">
												<strong>Error!</strong> La hora debe estar en el formato hh:mm.
											</div>
										{% endif %}
												
												
										<div class="clearfix form-actions">
											<div class="col-md-offset-3 col-md-9">
												<button class="btn btn-info" type="submit">
													<i class="ace-icon fa fa-check bigger-110"></i>
													Aceptar
												</button>
												
												&nbsp; &nbsp; &nbsp;
												<button class="btn" type="reset">
													<i class="ace-icon fa fa-undo bigger-110"></i>
													Limpiar
												</button>
											</div>
										</div>

										<div class="hr hr-24"></div>
									</form>
								</div >				
								
								<!-- PAGE CONTENT ENDS -->
		{% endblock content %}