{% extends 'sistema/html/base.html' %}

    {% block content %}
								<!-- PAGE CONTENT BEGINS -->

								<form method="POST" class="form-horizontal" role="form">{%csrf_token %}
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Nombre de Institución</label>
										<div class="col-sm-9">
											{{ form.nombre }}
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Ciudad </label>
										<div class="col-sm-8">
											<div class="row">
												<div class="col-xs-10 col-sm-6">
												{{ form.ciudad }}
												</div>
											</div>
										</div>
									</div>

									
									
									<div class="clearfix form-actions">
										<div class="col-md-offset-3 col-md-9">
											<button class="btn btn-info" type="submit">
												<i class="ace-icon fa fa-check bigger-110"></i>
												Aceptar
											</button>
											
											&nbsp; &nbsp; &nbsp;
											<button class="btn" type="reset">
												<i class="ace-icon fa fa-undo bigger-110"></i>
												Limpiar
											</button>
										</div>
									</div>

									<div class="hr hr-24"></div>
							</form>
														
		{% endblock content %}