{% extends 'sistema/html/base.html' %}
{% load staticfiles %}

    {% block content %}
								<!-- PAGE CONTENT BEGINS -->
								<table id="tablaQ" class="table table-striped table-hover" cellspacing="0" width="100%">
									<thead>
										<tr>
											<th>Cedula</th>
											<th>Apellidos y Nombres</th>
											<th>Cargo</th>
											<th>Titulo</th>
											<th>Nivel</th>
											<th>Firma</th>
											<th>Accion</th>
										</tr>
									</thead>
									
									<tbody>
										
											{% for organizador in lista %}	
											<tr>											
												<td>{{ organizador.cedula }}</td>
												<td>{{ organizador.apellidos }} {{ organizador.nombres }}</td>
												<td>{{ organizador.cargo }}</td>
												<td>{{ organizador.titulo }}</td>
												<td>{{ organizador.nivel }}</td>
												<td><img src= "/media/{{organizador.firma}}" style="width:100px;height:40px"</td>

												<td>`<button type="button" title="Editar" class="btn btn-primary btn-circle" onclick="window.location.href='editarOrganizador/{{organizador.cedula}}'"><i class="fa fa-pencil"></i></button></td>
											</tr>												
											{% endfor %}		
						
										
										
									</tbody>
								</table>
	{% endblock content %}