{% extends 'sistema/html/baseUsuario.html' %}

    {% block content %}
								<!-- PAGE CONTENT BEGINS -->
								<table id="tablaQ" class="table table-striped table-hover" cellspacing="0" width="100%">
									<thead>
										<tr>
											<th>Asistente</th>
											<th>Evento</th>
											<th>Generar</th>
										</tr>
									</thead>
									
									<tbody>
										
											{% for evento in lista %}	
											<tr>											
												<td>{{ evento.asistente }}</td>
												<td>{{ evento.evento.nombre }}</td>
												
												<td><button type="button" title="Editar" class="btn btn-primary btn-circle" onclick="window.location.href='imprimirCertificado/{{evento.id}}'"><i class="fa fa-pencil"></i> Imprimir</button></td>
											</tr>												
											{% endfor %}		
						
										
										
									</tbody>
								</table>
	{% endblock content %}