{% extends 'sistema/html/base.html' %}

    {% block content %}
								<!-- PAGE CONTENT BEGINS -->
								{{ lista.asistente }}
								<table id="tablaQ" class="table table-striped table-hover" cellspacing="0" width="100%">
									<thead>
										<tr>
											<th>Cedula</th>
											<th>Asistente</th>
											<th>Evento</th>
											<th>Validar</th>
										</tr>
									</thead>
									
									<tbody>
										
											{% for evento in lista %}	
											<tr>											
												<td>{{ evento.asistente }}</td>
												<td>{{ evento.nombres }}</td>
												<td>{{ evento.nombre }}</td>
												<td><button type="button" title="Validar" class="btn btn-primary btn-circle" onclick="window.location.href='validar_asistencia/{{evento.id}}'"><i class="fa-credit-card"></i> Editar</button></td>
											</tr>												
											{% endfor %}		
						
										
										
									</tbody>
								</table>
	{% endblock content %}