{% extends 'sistema/html/base.html' %}

    {% block content %}
								<!-- PAGE CONTENT BEGINS -->
								<table id="tablaQ" class="table table-striped table-hover" cellspacing="0" width="100%">
									<thead>
										<tr>
											<th>Codigo</th>
											<th>Evento</th>
											<th>Fecha</th>
											<th>Dias</th>
											<th>Horas</th>
											<th>Lugar</th>
											<th>Precio UTMACH</th>
											<th>Precio Externo</th>
											<th>Precio Profesion</th>
											<th>Accion</th>
										</tr>
									</thead>
									
									<tbody>
										
											{% for evento in lista %}	
											<tr>											
												<td>{{ evento.codigo }}</td>
												<td>{{ evento.nombre }}</td>
												<td>{{ evento.inicio }}</td>
												<td>{{ evento.duracion }}</td>
												<td>{{ evento.horas }}</td>
												<td>{{ evento.lugar }}</td>
												<td>{{ evento.precio_estudiante }}</td>
												<td>{{ evento.precio_externo }}</td>
												<td>{{ evento.precio_profesional }}</td>
												<td>
												<button type="button" title="Editar" class="btn btn-primary btn-circle" onclick="window.location.href='editarEvento/{{evento.codigo}}'"><i class="fa fa-pencil"></i> Editar</button>
												<button type="button" title="Agregar Horario" class="btn btn-primary btn-circle" onclick="window.location.href='horario/nuevo/{{evento.codigo}}'"><i class="fa  fa-calendar "></i> Horarios</button>
												<button type="button" title="Agregar Ponencias" class="btn btn-primary btn-circle" onclick="window.location.href='ponencia/nuevo/{{evento.codigo}}'"><i class="fa fa-users"></i> Ponencias</button></td>

											</tr>												
											{% endfor %}		
						
										
										
									</tbody>
								</table>
	{% endblock content %}