{% extends 'sistema/html/base.html' %}

    {% block content %}
								<!-- PAGE CONTENT BEGINS -->
								<table id="tablaQ" class="table table-striped table-hover" cellspacing="0" width="100%">
									<thead>
										<tr>
											<th>Cedula</th>
											<th>Nombre</th>
											<th>Apellido</th>
											<th>Genero</th>
											<th>Ciudad</th>
											
										</tr>
									</thead>
									
									<tbody>
										
											{% for estudiante in lista %}	
											<tr>											
												<td>{{ estudiante.cedula }}</td>
												<td>{{ estudiante.nombres }}</td>
												<td>{{ estudiante.apellidos }}</td>
												<td>{{ estudiante.genero }}</td>
												<td>{{ estudiante.ciudad }}</td>
												
											</tr>												
											{% endfor %}		
						
										
										
									</tbody>
								</table>
	{% endblock content %}