{% extends 'sistema/html/base.html' %}

    {% block content %}
								<!-- PAGE CONTENT BEGINS -->
								<table id="tablaQ" class="table table-striped table-hover" cellspacing="0" width="100%">
									<thead>
										<tr>
											<th>Evento</th>
											<th>Organizador</th>
											<th>Responsabilidad</th>
											<th>Acciones</th>
										</tr>
									</thead>
									
									<tbody>
										
											{% for list1 in lista %}	
											<tr>											
												<td>{{ list1.evento }}</td>
												<td>{{ list1.organizador }}</td>
												<td>{{ list1.responsabilidad }}</td>
												<td><button type="button" title="Editar" class="btn btn-primary btn-circle" onclick="window.location.href='editar_organiza/{{list1.id}}'"><i class="fa fa-pencil"></i> Editar</button></td>
											</tr>												
											{% endfor %}		
						
										
										
									</tbody>
								</table>
	{% endblock content %}