{% extends 'sistema/html/base.html' %}

    {% block content %}
								<!-- PAGE CONTENT BEGINS -->
								<table id="tablaQ" class="table table-striped table-hover" cellspacing="0" width="100%">
									<thead>
										<tr>
											<th>Evento</th>
											<th>Día</th>
											<th>Inicio</th>
											<th>Fin</th>
											<th>Horas</th>
											<th>Accion</th>
										</tr>
									</thead>
									
									<tbody>
										
											{% for horario in lista %}	
											<tr>											
												<td>{{ horario.evento }}</td>
												<td>{{ horario.dia|date:"d M Y"  }}</td>
												<td>{{ horario.horaInicio }}</td>
												<td>{{ horario.horaFin }}</td>
												<td>{{ horario.horas }}</td>
												
												<td><button type="button" title="Editar" class="btn btn-primary btn-circle"
												 onclick="window.location.href='{% url 'tomar_asistencia' idhorario=horario.id %}'"><i class="fa fa-pencil"></i> Tomar Asistencia</button></td>
											</tr>												
											{% endfor %}		
						
										
										
									</tbody>
								</table>
	{% endblock content %}