{% extends 'sistema/html/base.html' %}

    {% block content %}
								<!-- PAGE CONTENT BEGINS -->
								<table id="tablaQ" class="table table-striped table-hover" cellspacing="0" width="100%">
									<thead>
										<tr>
											<th>Asistente</th>
											<th>Evento</th>
											<th>Accion</th>
										</tr>
									</thead>
									
									<tbody>
										
											{% for lst in lista %}	
											<tr>											
												<td>{{ lst.asistente }}</td>
												<td>{{ lst.evento }}</td>
												<td><button type="button" title="Validar" class="btn btn-primary btn-circle" onclick="window.location.href='validar_asistencia/{{lst.id}}'"><i class="fa fa-credit-card "></i> Validar</button></td>
											</tr>												
											{% endfor %}		
						
										
										
									</tbody>
								</table>
	{% endblock content %}