{% extends 'sistema/html/base.html' %}

    {% block content %}
								<!-- PAGE CONTENT BEGINS -->
								<table id="tablaQ" class="table table-striped table-hover" cellspacing="0" width="100%">
									<thead>
										<tr>
											<th>Institucion</th>
											<th>Ciudad</th>
											<th>Acciones</th>
										</tr>
									</thead>
									
									<tbody>
										
											{% for institucion in lista %}	
											<tr>											
												<td>{{ institucion.nombre }}</td>
												<td>{{ institucion.ciudad }}</td>
												<td><button type="button" title="Editar" class="btn btn-primary btn-circle" onclick="window.location.href='editarInstitucion/{{institucion.id}}'"><i class="fa fa-pencil"></i> Editar</button></td>
											</tr>												
											{% endfor %}		
						
										
										
									</tbody>
								</table>
	{% endblock content %}