{% extends 'sistema/html/base.html' %}

    {% block content %}
								<!-- PAGE CONTENT BEGINS -->
								<table id="tablaQ" class="table table-striped table-hover" cellspacing="0" width="100%">
									<thead>
										<tr>
											<th>Topico</th>
											<th>Ponente</th>
											<th>Hora</th>
											<th>Evento</th>
											<th>Accion</th>
										</tr>
									</thead>
									
									<tbody>
										
											{% for horario in lista %}	
											<tr>											
												<td>{{ horario.dia }}</td>
												<td>{{ horario.horaInicio }}</td>
												<td>{{ horario.horaFin }}</td>
												<td>{{ horario.evento }}</td>
												
												<td><button type="button" title="Editar" class="btn btn-primary btn-circle" onclick="window.location.href=' {% url 'editar_horario' id=horario.id %}'"><i class="fa fa-pencil"></i> Editar</button></td>
											</tr>												
											{% endfor %}		
						
										
										
									</tbody>
								</table>
	{% endblock content %}