{% extends 'sistema/html/baseUsuario.html' %}

    {% block content %}
								<!-- PAGE CONTENT BEGINS -->

								<table id="tablaQ" class="table table-striped table-hover" cellspacing="0" width="100%">
									<thead>
										<tr>
											<th>Evento</th>
											<th>Fecha de Inicio</th>
											<th>Fecha Final</th>
											<th>Descripcion</th>
											<th>IMPRIMIR</th>
										</tr>
									</thead>
									
									<tbody>
										
											{% for evento in lista %}	
											<tr>											
												<td>{{ evento.nombre }}</td>
												<td>{{ evento.inicio }}</td>
												<td>{{ evento.fin }}</td>
												<td>{{ evento.descripcion }}</td>
												<td>	
													
													<button type="button" title="Descargar" class="btn btn-primary btn-circle" onclick="location.href='{% url 'imprimirEvento' codigo=evento.codigo %}' ">
													<i class="fa  fa-download  "></i> Comprobante </button>											
												
												</td>
											</tr>												
											{% endfor %}		
						
										
										
									</tbody>
								</table>
	{% endblock content %}