{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
	<head>
	<title>Imprimir Eventos</title>
		<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}" />
		<link rel="stylesheet" href="{% static 'assets/font-awesome/4.5.0/css/font-awesome.min.css' %}" />

		<!-- text fonts -->
		<link rel="stylesheet" href="{% static 'assets/css/fonts.googleapis.com.css' %}" />

		<link rel="stylesheet" href="{% static 'assets/css/jquery-ui.custom.min.css' %}" />
		<link rel="stylesheet" href="{% static 'assets/css/fullcalendar.min.css' %}" />
		
		
		<!-- ace styles -->
		<link rel="stylesheet" href="{% static 'assets/css/ace.min.css' %}" class="ace-main-stylesheet" id="main-ace-style" />
		<link rel="stylesheet" href="{% static 'assets/css/bootstrap-datepicker3.min.css' %}" />
		<link rel="stylesheet" href="{% static 'assets/css/chosen.min.css' %}" />
		<link rel="stylesheet" href="{% static 'assets/css/bootstrap-datepicker3.min.css' %}" />
		<link rel="stylesheet" href="{% static 'assets/css/bootstrap-timepicker.min.css' %}" />
		<link rel="stylesheet" href="{% static 'assets/css/daterangepicker.min.css' %}" />
		<link rel="stylesheet" href="{% static 'assets/css/bootstrap-datetimepicker.min.css' %}" />
		<link rel="stylesheet" href="{% static 'assets/css/bootstrap-colorpicker.min.css' %}" />
	</head>

		<body class="no-skin">
										<!-- PAGE CONTENT BEGINS -->

								<div class="row">
								
								<div class="panel panel-default">
								  <div class="panel-body">
								  <center><img src="{% static 'imagenes\logo.png' %}"></center>
									<br>
									<br>
									 <center><strong><h1>HOJA DE INSCRIPCION</h1></strong></center><br><br>
										El Sr(a) <strong>{{persona.nombres}} {{persona.apellidos}}</strong>, portador de CI: {{persona.cedula}}, 
										  se a registrado al evento denomidado <strong> {{listaeventos.nombre}}</strong>.<br>
										  Debera Usted realizar un deposito en la cuenta Corriente del Banco del Pichincha # 45665464,
										  el mismo que debera llevar el comprobante de  pago para validar su registro.<br><br>
								  <center><strong>DETALLE DE EVENTO</strong></center>
								  
								  </div>
								</div>
								

									<div class="col-ms-10 col-md-offset-2 col-lg-8 pricing-box">
										<div class="widget-box widget-color-blue">
											<div class="widget-header">
												<h5 class="widget-title bigger lighter">{{listaeventos.nombre}}</h5>
											</div>

											<div class="widget-body">
												<div class="widget-main">
													<ul class="list-unstyled spaced2">
														<li>
															<i class="ace-icon fa  fa-calendar  green"></i>
															<strong>Fecha de Inicio:</strong> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp{{listaeventos.inicio|date:"l, d-F-Y"}}
														</li>

														<li>
															<i class="ace-icon fa  fa-calendar  green"></i>
															<strong>Fecha de Culminacion:</strong> &nbsp &nbsp &nbsp &nbsp  {{listaeventos.fin|date:"l, d-F-Y"}}
														</li>

														<li>
															<i class="ace-icon fa fa-briefcase green"></i>
															<strong>Numero de Horas:</strong> &nbsp &nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp &nbsp  {{listaeventos.horas}} Horas
														</li>

														<li>
															<i class="ace-icon fa fa-users green"></i>
															<strong>Lugar:</strong>  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  &nbsp &nbsp  &nbsp &nbsp &nbsp &nbsp  &nbsp &nbsp   &nbsp &nbsp &nbsp &nbsp  &nbsp &nbsp  {{listaeventos.lugar}}
														</li>
													</ul>

													<hr />
													<div >
													<strong>Precios:</strong><br>
													{% ifequal tipo "propio"  %}
														&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
														&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
														Estudiante: &nbsp &nbsp &nbsp <strong> ${{listaeventos.precio_estudiante}}</strong> 
													{% endifequal %}
													{% ifequal tipo "profesional"  %}
														&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp 
														&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
														Profesional:&nbsp &nbsp &nbsp <strong> ${{listaeventos.precio_externo}}</strong>
													{% endifequal %}
													{% ifequal tipo "extranjero"  %}
														&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp 
														&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
														Externo:&nbsp &nbsp &nbsp <strong> ${{listaeventos.precio_profesional}}</strong>
													{% endifequal %}
									
													 <br>
								<br>
													</div>
												</div>

												
												
											</div>
										</div>
									</div>
			
								</div>
								<center><strong>Codigo QR</strong></center><br>
								<center><img src="https://chart.googleapis.com/chart?cht=qr&amp;chs={{ 200 }}x{{ 200 }}&amp;chl=
								Titulo del Evento: {{ listaeventos.nombre}}   
								Fecha de Inicio: {{ listaeventos.inicio}}     
								Fecha de Culminacion: {{listaeventos.fin}}    
								Lugar: {{listaeventos.lugar}}                 
								Telefono de Contacto: 0998297181               
								Email:eventosutmach@utmach.edu.ec             
								Direccion:Km 20 via Pasaje"                    
								
								alt="{{ listaeventos.nombre }}" /></center>

							
								<br>

		
	</body>
</html>
