{% extends 'sistema/html/baseUsuario.html' %}

    {% block content %}
								<div>
									<div id="user-profile-1" class="user-profile row">
										<div class="col-xs-12 col-sm-3 center">
										<div class="space-12"></div>
											<div>
												<span class="profile-picture">
													<img id="avatar" class="editable img-responsive" alt={{datoU.apellidos}} {{datoU.nombres}} src="/media/{{datoU.imagen}}" />
												</span>

												<div class="space-4"></div>

												<div class="width-80 label label-info label-xlg arrowed-in arrowed-in-right">
													<div class="inline position-relative">
														<a href="#" class="user-title-label dropdown-toggle" data-toggle="dropdown">
															<span class="white">{{datoU.apellidos}} {{datoU.nombres}}</span>
														</a>

													
													</div>
												</div>
											</div>

										</div>

										<div class="col-xs-12 col-sm-9">
											

											<div class="space-12"></div>

											<div class="profile-user-info profile-user-info-striped">
												<div class="profile-info-row">
													<div class="profile-info-name"> Cedula: </div>

													<div class="profile-info-value">
													<i class="fa fa-barcode  light-orange bigger-110"></i>
													&nbsp {{datoU.cedula}}

													</div>
												</div>

												<div class="profile-info-row">
													<div class="profile-info-name"> Nombre: </div>

													<div class="profile-info-value">
														<i class="fa fa-info-circle  light-orange bigger-110"></i>
														&nbsp {{datoU.nombres}}
														
														
													</div>
												</div>

												<div class="profile-info-row">
													<div class="profile-info-name"> Apellido: </div>

													<div class="profile-info-value">
														<i class="fa fa-info-circle  light-orange bigger-110"></i>
														
														 &nbsp {{datoU.apellidos}}
													</div>
												</div>

												<div class="profile-info-row">
													<div class="profile-info-name"> Email: </div>

													<div class="profile-info-value">
														<i class="fa fa-envelope-o light-orange bigger-110"></i>
														&nbsp {{datoU.correo}}
														
													</div>
												</div>

												<div class="profile-info-row">
													<div class="profile-info-name"> Direccion: </div>

													<div class="profile-info-value">
													<i class="fa fa-map-marker light-orange bigger-110"></i>
														&nbsp &nbsp {{datoU.direccion}}

													</div>
												</div>

												<div class="profile-info-row">
													<div class="profile-info-name"> Genero:</div>

													<div class="profile-info-value">
														&nbsp &nbsp &nbsp &nbsp {{datoU.genero}}
														
														
														

													</div>
												</div>
												<div class="profile-info-row">
													<div class="profile-info-name"> Profesion:</div>

													<div class="profile-info-value">
													<i class="fa fa-briefcase   light-orange bigger-110"></i>
													{% if datoU.profesional  %}
													 &nbsp Si
													 {% else %}
													  &nbsp No
													{% endif %}
														
													</div>
												</div>
												<div class="profile-info-row">
													<div class="profile-info-name"> Institucion:</div>

													<div class="profile-info-value">
														<i class="fa fa-book  light-orange bigger-110"></i>
														&nbsp {{datoU.institucion}}
													</div>
												</div>
												<div class="profile-info-row">
													<div class="profile-info-name"> Ciudad:</div>

													<div class="profile-info-value">
													<i class="fa fa-desktop  light-orange bigger-110"></i>
													&nbsp {{datoU.ciudad}}
														
													</div>
												</div>
											</div>

										
											
										</div>
									</div>
								</div>

							
						
								
{% endblock content %}