{% extends 'sistema/html/baseUsuario.html' %}


    {% block content %}
						<div class="page-header">
							<h1>
								topicos
								<small>
									<i class="ace-icon fa fa-angle-double-right"></i>
									evento {{evento.nombre}}
								</small>
							</h1>
						</div><!-- /.page-header -->

						<div class="row">
							<div class="col-xs-12">
								<!-- page content begins -->
						

						
								
								<div id="timeline-2" >
									<div class="row">
										<div class="col-xs-12 col-sm-10 col-sm-offset-1">
									
											<div class="timeline-container timeline-style2">
												<span class="timeline-label">
													<b>{{evento.inicio|date:"M, d"}}</b>
												</span>
{% for topico in lista %}
												<div class="timeline-items">
													<div class="timeline-item clearfix">
														<div class="timeline-info">
															<span class="timeline-date">{{topico.hora}}</span>

															<i class="timeline-indicator btn btn-info no-hover"></i>
														</div>

														<div class="widget-box transparent">
															<div class="widget-body">
																<div class="widget-main no-padding">
																	<span class="bigger-110">
																		{{topico.topico}}
																	</span><br>
																	<span class="bolder blue">{{topico.ponente}}</span>

																	<br />
																	
																</div>
															</div>
														</div>
													</div>

													

									
												</div><!-- /.timeline-items -->
												
	{% endfor %}										
											</div><!-- /.timeline-container -->
										

										</div>
									</div>
								</div>
								
			{% endblock content %}