{% extends 'sistema/html/base.html' %}

    {% block content %}
								<!-- PAGE CONTENT BEGINS -->
								<form method="POST" class="form-horizontal" role="form">{%csrf_token %}
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Asistente </label>
										<div class="col-sm-9">
											<input readonly="true" value="{{ asistencia.asistente }}" class="col-xs-10 col-sm-5">
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Evento </label>
										<div class="col-sm-9">
											<input readonly="true" value="{{ asistencia.evento }}" class="col-xs-10 col-sm-5">
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Comprobante </label>
										<div class="col-sm-9">
											{{ form.comprobante }}
										</div>
									</div>

									{% if error  %}
										<div class="alert alert-warning">
											<strong>Error!</strong> El número de comprobante debe ser diferente de 0.
										</div>
									{% endif %}
									
									<div class="clearfix form-actions">
										<div class="col-md-offset-4 col-md-8">
											<button class="btn btn-info" type="submit">
												<i class="ace-icon fa fa-check bigger-110"></i>
												Validar
											</button>
											
										</div>
									</div>

									<div class="hr hr-24"></div>
								</form>								
	{% endblock content %}